@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@media (max-width: 990px){
    .side-b{
        position: absolute;
        background-color: #fff;
        color:#fff;
        top: 0;
        left:0;
        height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
        scroll-behavior: true;
        width: 280px;
        transform: translateX(-100%);
        transition: all 0.4s;
    }

    .side-b-open{
        transform: translateX(0%);
    }

    .side-b li{
        padding: 0.5rem 1rem;
        border-bottom: solid #e8e8fd;
    }

    .side-b li:hover{
        background-color: rgba(0,0,0,0.5);
        color:#000
    }

    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }
    .backdrop-open{
        display: block;
    }

    .product-item{
        width: 150px;
        height: 250px;
        border: 1px solid rgb(219, 219, 219);
    }

   
    .dropdown:hover .dropdown-menu {
        width: 230px;
        left: 0;
    }

    .add-c{
        position: absolute;
        background-color: #fff;
        /* color:#fff; */
        top: 0;
        left:0;
        max-height: 100vh;
        width: 100%;
        transform: translateX(-110%);
        transition: all 0.4s;
    }
    
    .add-c-open{
        transform: translateX(0%);
    }

    .add-f{
        position: absolute;
        background-color: #fff;
        /* color:#fff; */
        top: 0;
        left:0;
        max-height: 100vh;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.4s;
    }
    
    .add-f-open{
        transform: translateX(0%);
    }

    .prod-image{        
        height: 50px;
        width:25%        
    }
    .carosel .img-fluid{
        height: 100px;
    }

    .whatsapp-button {
        position: fixed;
        bottom: 40px;
        right: 30px;
        background-color: green;
        color: white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    

}
@media (min-width: 990px){

    .whatsapp-button {
        position: fixed;
        bottom: 50px;
        right: 100px;
        background-color: green;
        color: white;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .addmin{
        display: none;
    }

    .prod-image{
        height: 50px;    
    }
    .carosel .img-fluid{
        height: 150px;
    }

    .side-b{
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        border-top: solid yellow;
        margin-top: 5px;
        padding: 1rem;
        width: 250px;
    }
    
    .product-item{
        width: 200px;
        height:250px;
        border: 1px solid rgb(219, 219, 219);
        
    }
    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }
    .backdrop-open{
        display: block;
    }

    .add-c{
        position: absolute;
        background-color: #fff;
        /* color:#fff; */
        top: 20%;
        left:10%;
        max-height: 100vh;
        width: 100%;
        transform: translateX(-110%);
        transition: all 0.4s;
    }
    
    .add-c-open{
        transform: translateX(0%);
    }

    .add-f{
        position: absolute;
        background-color: #fff;
        /* color:#fff; */
        top: 20%;
        left:10%;
        max-height: 100vh;
        width: 100%;
        transform: translateX(-110%);
        transition: all 0.4s;
    }
    
    .add-f-open{
        transform: translateX(0%);
    }

}

.footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: rgb(62, 61, 65);
}

.product-item:hover{
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* larger, darker shadow */
}
.product-img{
    position: relative;
    overflow: hidden;
}
.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: #fcb941;
}
.product-item:hover .btns{
    bottom: 0;
}

.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}

.product-type{
    font-size: 13px;
    opacity: 0.8;
}
.product-name{
    transition: all 0.3s ease-in-out;
}
.product-name:hover{
    color: #fcb941!important;
}
.product-price{
    color: #fcb941;
}
.rating{
    font-size: 13px;
}

.vertical-line {
    border-left: 2px solid red;
    height: 20px; /* set the height of the line as needed */
}

.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
}

.paginationBttns a:hover{
    color: white;
    background-color: #2b2eff;
}

.paginatonActive a{
    color: white;
    background-color: #2b2eff;
}

.search-list{
    max-height: 20vh;
    overflow-y: auto;
    scroll-behavior: true;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 0.65rem;
}
.up-nav{
    background-color: #232638;
}





