@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@media (max-width: 990px){
    .side-b{
        position: absolute;
        background-color: #fff;
        color:#fff;
        top: 0;
        left:0;
        max-height: 100vh;
        overflow-y: auto;
        scroll-behavior: true;
        width: 280px;
        transform: translateX(-100%);
        transition: all 0.4s;
    }

    .side-b-open{
        transform: translateX(0%);
    }

    .side-b li{
        padding: 0.5rem 1rem;
        border-bottom: solid #e8e8fd;
    }

    .side-b li:hover{
        background-color: rgba(0,0,0,0.5);
        color:#000
    }

    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }
    .backdrop-open{
        display: block;
    }

    .dropdown-toggle::after {
        float: right;
        margin-top: 0.65rem;
    }

    .product-item{
        width: 150px;
    }

    #secondnav{
        display: none;
    }
    .dropdown:hover .dropdown-menu {
        width: 230px;
        left: 0;
    }

    .add-c{
        position: absolute;
        background-color: #fff;
        /* color:#fff; */
        top: 0;
        left:0;
        max-height: 100vh;
        width: 100%;
        transform: translateX(-110%);
        transition: all 0.4s;
    }
    
    .add-c-open{
        transform: translateX(0%);
    }
    

}
@media (min-width: 990px){

    .side-b{
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        border-top: solid yellow;
        margin-top: 5px;
        padding: 1rem;
        width: 250px;
    }
    
    .product-item{
        width: 250px;
    }
    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }
    .backdrop-open{
        display: block;
    }

    .add-c{
        position: absolute;
        background-color: #fff;
        /* color:#fff; */
        top: 20%;
        left:10%;
        max-height: 100vh;
        width: 100%;
        transform: translateX(-110%);
        transition: all 0.4s;
    }
    
    .add-c-open{
        transform: translateX(0%);
    }

}

.footer {
    height: 50px;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: aqua;
  }

.product-item:hover{
    border: 1px solid rgb(219, 219, 219);
}
.product-img{
    position: relative;
    overflow: hidden;
}
.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: #fcb941;
}
.product-img:hover .btns{
    bottom: 0;
}

.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}

.product-type{
    font-size: 13px;
    opacity: 0.8;
}
.product-name{
    transition: all 0.3s ease-in-out;
}
.product-name:hover{
    color: #fcb941!important;
}
.product-price{
    color: #fcb941;
}
.rating{
    font-size: 13px;
}





